<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Group.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>63528188BC15F7D9CA4E2214507556EA96238E93</string>
				<key>dateExpires</key>
				<string>10/14/25</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>LNXWGGBBH6.com.SideProject.Group</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.applesignin</key>
				<array>
					<string>Default</string>
				</array>
				<key>com.apple.developer.associated-domains</key>
				<array>
					<string>applinks:deeplink.ugsm.co.kr</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>LNXWGGBBH6</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Group.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>d5013530-9f48-4d76-a53c-b6a146fef18d</string>
				<key>dateExpires</key>
				<string>10/14/25</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.SideProject.Group</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>LNXWGGBBH6</string>
				<key>name</key>
				<string>Dongju Baek</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
